/* 
reset 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pacifico", cursive;
    font-size: 50px;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameWrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 10px;
}

.notVisible {
    display: none;
}

.gameOver {
    position: relative;
    background: linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51));
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    font-family: "Pacifico", cursive;
    border-radius: 10px;
}

.over--item {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
}


.over--item__time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.over--item h3 {
    font-size: 40px;
    margin-bottom: 50px;
}

.over--item__text {
    height: 130px;
    padding: 20px;
    background-color: black;
    font-size: 50px;
   
   padding-top: 100px;
    background-color: transparent;
}

.gameOver--button {
    position: absolute;
    cursor: pointer;
    height: 130px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: transparent;
    border: 0;
    color: white;
}

.game--item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    flex-grow: 1;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
}

.fa {
    font-size: 90px;
}

/*
 media 
 */

@media (max-width: 1100px) {
    .gameWrapper {
        width: 50%;
    }
}

@media (max-width: 890px) {
    .gameWrapper {
        width: 80%;
    }
}

@media (max-width: 580px) {
    .gameWrapper {
        width: 100%;
    }
    .over--item__text {
        font-size: 35px;
    }
}

@media (max-width: 336px) {
    .gameWrapper {
        width: 100%;
    }
    .game--item {
        width: 30%;
        height: 100px;
    }
    .fa {
        font-size: 50px;
    }
}

/* 
colors
*/

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.whitesnow {
    background-color: snow;
}

.violet {
    background-color: violet;
}

.yellow {
    background-color: yellow;
}

.lightblue {
    background-color: lightblue;
}

.burlywood {
    background-color: burlywood;
}

.cadetblue {
    background-color: cadetblue;
}

.tomato {
    background-color: tomato;
}

.off {
    background-color: #eee;
}

.hidden {
    background-color: #000;
}